<h1><%= image_tag "logo2.jpg", class:"main_logo"%></h1>
<h2 class="tagline">Meet the right people</h2>


<div class="login_buttons">
  <a href="" class="btn signup_button">Sign up</a>
  <a href="" class="btn login_button">Login</a>
</div>
<!--
link_to "Sign up",path to something, class: "btn signup_button"
link_to "Login",path to something, class: "btn login_button"
-->